@{
    var viewModel = (Afdian.Action.ViewModels.AfdianViewModel)@Model;
    string meUserId = "97ceb326f15d11ec8dbf52540025c377";
    // 支持多个 plan id，按需在数组中追加
    string[] currentRepoPlanIds = new[] {
        "aa197b8ef00011efa49c5254001e7c00",
        "1c74a62442de11f08c2252540025c377",
        ""
        };
    // 排除自己
    viewModel.Sponsor.data.list = viewModel.Sponsor.data.list.Where(m => m.user.user_id != meUserId).ToList();
    // 只要 当前仓库 对应的计划
    viewModel.Order.data.list = viewModel.Order.data.list.Where(m => currentRepoPlanIds.Contains(m.plan_id)).ToList();
}

@for (int i = 0; i < viewModel.Sponsor.data.list.Count(); i++)
{
    @{ 
        var sponsorItem  = viewModel.Sponsor.data.list[i];
     }

<a href="https://ifdian.net/u/@sponsorItem.user.user_id">
    <img src="@sponsorItem.user.avatar?imageView2/1/w/120/h/120" width="40" height="40" alt="@sponsorItem.user.name" title="@sponsorItem.user.name"/>
</a>
}

<details>
  <summary>点我 打开/关闭 赞助者列表</summary>

@for (int i = 0; i < viewModel.Sponsor.data.list.Count(); i++)
{
    @{ 
        var sponsorItem  = viewModel.Sponsor.data.list[i];
        // 计算此赞助者总共赞助金额
        double totalMoney = 0;
        int orderNum = 0;
        string remarks = "";

        for (int j = 0; j < viewModel.Order.data.list.Count(); j++)
        {
            var orderItem  = viewModel.Order.data.list[j];
            if (orderItem.user_id == sponsorItem.user.user_id) {
                totalMoney += Convert.ToDouble(orderItem.total_amount);
                orderNum++;
                if (!string.IsNullOrEmpty(orderItem.remark)) {
                    // 只要最新留言
                    remarks = orderItem.remark;
                }
            }
        }
        if (remarks.Length > 10) {
            remarks = remarks.Substring(0, 10) + "...";
        }
     }

<a href="https://ifdian.net/u/@sponsorItem.user.user_id">
@sponsorItem.user.name
</a>
<span>( @orderNum 次赞助, 共 ￥@totalMoney ) 留言: @remarks</span><br>
}

</details>
<!-- 注意: 尽量将标签前靠,否则经测试可能被 GitHub 解析为代码块 -->